<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./includes/CommonHead.ejs') %>
  <title>
    <%= pageTitle %> 
  </title>
</head>
<body>
  <%- include('./includes/Navbar.ejs') %> 
  <div class="container">
    <div class="display-5 lead text-center">
      Node SSR - Image Upload & Image Crop
    </div>
  </div>
  <%- include('./includes/Cropper.ejs') %> 
</body>
</html>